<h1>Project 3: Salaries in Data Science<br></h1>
Due Date: Jan. 30, 2022 <br>

#### Team Members:<br>
>-  Ariel Jones, <br>
>-  Joe Liang, <br>
>-  Kristina Mulholland, <br>
>-  Jeff Pinegar<br>



This notebook is used to create the html table for the webpage and to load the data into prostgres database.
<br><br>

---
### Extract and Transform Data Scienc Salary

In [6]:
# Import needed libraries
import pandas as pd     # if you get an error message module not found you need to add this to your environment.
import os               # this tells your project about the OS of your machine.  This will let you create machine independent notebooks
import numpy as np      # loads in the math tools
from datetime import datetime
from sqlalchemy import create_engine
import psycopg2

import os

---
### Extract

In [3]:
# Import data file
salary_data = os.path.join('.','data', 'DS_salary.csv')            

# Opens the CVS file and read it in as a panda dataframe then print the head.
df_raw = pd.read_csv(salary_data, encoding="utf-8", index_col=False)                   
df_raw.head(2)

,id,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,...,company_location_3Char,comp_size,Experience,Emply_Type,Country_Company,Country_Emply,Company_size,Category,Remote_Work,Machine_learning
0,0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,...,DEU,L,Mid-level Intermediate,Full-time,Germany,Germany,Large_Greater_than_250_Emp,Scientist,0-20%,Not ML
1,1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,...,JPN,S,Senior-level Expert,Full-time,Japan,Japan,Small_Less_than_50_Emp,Scientist,0-20%,ML Professional

---
### Create a data table for the webpage

In [10]:
# export data as an HTML table that can be added to the web page.
dfs = df_raw
file_one = os.path.join('.','data', 'DS_salary.html')
dfs.to_html(file_one, classes='table table-stripped', index = False)

---
### Load the data into a postgres database

In [7]:
# Set the connection to the Postgres database created for this project
protocol = 'postgresql'
username = 'postgres'
password = 'jsp'
host = 'localhost'
port = 5432
database_name = 'Data_Science_Salary'
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)

In [8]:
# Verify that the tables are there to be loaded.
engine.table_names()

C:\Users\jspinega\AppData\Local\Temp\ipykernel_37676\2070310554.py:2: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['DS_Salary']

In [11]:
# Load the CMAT codes in the cmatcodes table
dfs.to_sql(name='DS_Salary'                     # identify the target table
                  , con=engine                        # set the conection
                  , if_exists='replace'               # replace existing date in the table
                  , index=False)                      # Don't include the index

607